{% filter replace('justpenkit/justpen-mcp-dev-template', repo_owner ~ '/' ~ project_name) | replace('cd justpen-mcp-dev-template', 'cd ' ~ project_name) -%}
{% include 'docs/contributing/getting-started.md' -%}
{% endfilter -%}
