blank_issues_enabled: false
contact_links:
  - name: Question or discussion
    url: https://github.com/{{ repo_owner }}/{{ project_name }}/discussions
    about: For open-ended questions, design discussions, or usage help.
